In [5]:
import pandas as pd
import datetime
import sqlite3
from flask import Blueprint, render_template, g

### Query DB

In [6]:
# connect = sqlite3.connect('./archive.db')
# cursor = connect.cursor()
# cursor.execute('SELECT * FROM post')
# rows = cursor.fetchall()
# for row in rows:
#     print(row)
# cursor.close()

### Insert data into DB

In [4]:
# connect = sqlite3.connect('./archive.db')
# cursor = connect.cursor()
# sql = "insert into post (title, author_id, post_dated, content) values (?, ?, ?, ?)"
# cursor.execute(sql, ('second article', 1, time_str, str_))
# connect.commit()
# connect.close()

### Update data

In [7]:
# content = ''
# id = ''
# connect = sqlite3.connect('./archive.db')
# cursor = connect.cursor()
# sql = "UPDATE post SET content = ? WHERE id = ?"
# cursor.execute(sql, (content, id))
# connect.commit()
# connect.close()

### Delete data from DB given some condition

In [20]:
# connect = sqlite3.connect('./archive.db')
# cursor = connect.cursor()
# cursor.execute("DELETE FROM post WHERE id = :ID",{"ID":3})
# connect.commit()
# cursor.close()

In [21]:
def create_text_html_format(text) :
    html = f'''<p> {text} </p>'''
    return html

In [22]:
def create_table_html_format(df):
    html = df.to_html(index=False, justify='center')
    return html

In [23]:
def create_img_html_format(img_path):
    html = f'''<img src=/static/{img_path} alt="Image">'''
    return html

In [24]:
def join_html_format(*htmls) :
    html_list=[]
    for html in htmls :
        html_list.append(html)
    final_html = '\n'.join(html_list)
    return final_html

In [25]:
text_1 = "This is the test paragraph."
text_2 = "And there is another test paragraph here."

In [26]:
df = pd.DataFrame(data={'col1':[n for n in range(0,5)], 'col2': [n for n in range(5,10)] })

In [27]:
img_path = 'graph_1.png'

In [28]:
html_1 = create_text_html_format(text_1)
html_2 = create_text_html_format(text_2)
html_3 = create_table_html_format(df)
html_4 = create_img_html_format(img_path)

In [29]:
html = join_html_format(html_1, html_2, html_3, html_4)
print(html)

<p> This is the test paragraph. </p>
<p> And there is another test paragraph here. </p>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>5</td>
    </tr>
    <tr>
      <td>1</td>
      <td>6</td>
    </tr>
    <tr>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <td>4</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
<img src=/static/graph_1.png alt="Image">